@font-face {
    font-family: "slumpstd";
    src: url('../fonts/slumpstd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "slumpstd";
}

.field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blackbg {
    background-color: black;
}

#startBtn {
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.start {
    width: 100%;
    display: flex;
    justify-content: center;
}

.createField {
    width: 64vw;
    height: 76px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: black;
}

.playfield {
    width: 70vw;
    height: 495px;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    flex-wrap: nowrap;
}

#infoField {
    width: 70vw;
    height: 300px;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.statField {
    width: 800px;
    height: 300px;
    border: 1px solid white;
    color: white;
    background-color: black;
    overflow-y: scroll;
}

.menu {
    width: 360px;
    height: 300px;
    border: 1px solid black;
    background-color: black;
}

.skills {
    width: 295px;
    height: 160px;
    border: 1px solid white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
}

.descr {
    width: 430px;
    height: 300px;
    border: 1px solid white;
    background-color: black;
}

.playerOrder,
.enemyOrder {
    width: 6vw;
    height: 495px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
}

.stats {
    width: 58vw;
    height: 40px;
    border: 1px solid black;
    display: flex;
}

.stats1,
.stats2 {
    width: 29vw;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.stats-mini {
    display: flex;
    flex-direction: column;
}

.arena {
    width: 70vw;
    height: 495px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-image: url(../img/menu/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
}

#healthPlayer1,
#healthPlayer2,
#healthPlayer3,
#healthEnemy1,
#healthEnemy2,
#healthEnemy3 {
    width: 110px;
}

#manaPlayer1,
#manaPlayer2,
#manaPlayer3,
#manaEnemy1,
#manaEnemy2,
#manaEnemy3 {
    width: 110px;
    background-color: blue;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5 {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border: 1px solid white;

}

.useSkill {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
}

.skillImg {
    width: 15%;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}

.skillName {
    width: 85%;
    height: 30px;
    border: 1px solid white;
    color: white;
    font-size: 25px;
    padding-left: 20px;
}

.itemSelect,
.charSelect {
    border: 3px solid black;
}

.selected {
    border: 2px solid red;
}

.player {
    width: 400px;
    height: 400px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy {
    width: 350px;
    height: 350px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

#player1 {
    top: 220px;
    left: 390px;
    position: absolute;
    z-index: 5;
}

#player2 {
    top: 160px;
    left: 460px;
    position: absolute;
    z-index: 4;
}

#player3 {
    top: 140px;
    left: 600px;
    position: absolute;
    z-index: 3;
}

#enemy1 {
    top: 250px;
    right: 385px;
    position: absolute;
    z-index: 5;
}

#enemy2 {
    top: 230px;
    right: 490px;
    position: absolute;
    z-index: 4;
}

#enemy3 {
    top: 210px;
    right: 530px;
    position: absolute;
    z-index: 3;
}

#playerName1,
#playerName2,
#playerName3,
#enemyName1,
#enemyName2,
#enemyName3 {
    width: 110px;
    height: 50px;
}

/* #player4 {
    top: 135px;
    left: 400px;
    position: absolute;
    z-index: 2;
} */

.atkBtn {
    background-image: url(../img/menu/attack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
}

.magBtn {
    background-image: url(../img/menu/skills.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
}

.guardBtn {
    background-image: url(../img/menu/guard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
}